/*
 * Start Bootstrap - Landing Page (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.topnav {
    font-size: 14px;
}
/*rgba(0, 40, 0, 0.9)*/
#home-navbar > li > a{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
.mask{
  width: 100%;
  height: 100%;
  background: rgba(65,85,93,0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    position: relative;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/background1.jpg) no-repeat center center;
    background-size: cover;

}

.intro-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    zoom: 1;
    padding-top:9px;
    padding-bottom: 9px;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000');
    background: transparent;
    background: rgba(51, 51, 51, 0.5);
}
.action-button{
    border-radius: 20px;
    width: 260px;
    height:50px;
    margin-left: 35%;
}
.test-intro-header {
    position:fixed;
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/background2.jpg) no-repeat center center;
    background-size: cover;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    margin: 0 0 24px 0;
    line-height: 1.28;
    letter-spacing: .2px;
    font-size: 36px;
    font-weight: 500;
    text-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    .action-button{
      margin-left: 30%;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
    .navbar-nav {
        margin: 0px -15px;
    }
    .topnav{
        background: #FFFFFF;
        color: #777777 !important;
    }
    #home-navbar > li > a.links{
        color:#777777;
    }
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}
.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}
.main-title{
    font-size: 3em !important;
    font-weight: bold ;
    margin-top: -5px !important;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

@media only screen and (max-width: 620px) {
    #intro-message{
        margin-top:120px;
    }
    .action-button{
      margin-left: 25%;
    }
}

@media only screen and (max-width: 420px) {
    #intro-message{
        margin-top:120px;
    }
    .action-button{
      margin-left: 15%;
    }
}

@media only screen and (max-width: 320px) {
    #intro-message{
        margin-top:120px;
    }
    .action-button{
      margin-left: 7%;
    }
}
